<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <PublishSingleFile>false</PublishSingleFile>
    <PublishTrimmed>false</PublishTrimmed>
    <PublishReadyToRun>false</PublishReadyToRun>
    <DebugType>None</DebugType>
    <DebugSymbols>false</DebugSymbols>
    <PublishDir>$(MSBuildProjectDirectory)\..\publish\</PublishDir>
  </PropertyGroup>

  <Target Name="CleanFinalPublishDirectory" BeforeTargets="_IncrementalCleanPublishDirectory">
    <RemoveDir Directories="$(PublishDir)" Condition="Exists('$(PublishDir)')" />
  </Target>
</Project>
